@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="text-center">
<!DOCTYPE html>
<html>
<head>
    <title>Saúde e Bem-Estar</title>
</head>
<body>
    <header>
        <h1>Bem-vindo à nossa Página de Saúde e Bem-Estar</h1>
    </header>

    <nav>
        <ul>
            <li><a href="#dicas">Dicas de Saúde</a></li>
            <li><a href="#exercicios">Exercícios</a></li>
            <li><a href="#receitas">Receitas Saudáveis</a></li>
        </ul>
    </nav>

    <section id="dicas">
        <h2>Dicas de Saúde</h2>
        <p>Aqui você encontrará dicas e conselhos para manter uma vida saudável.</p>
        <!-- Inclua o conteúdo sobre dicas de saúde aqui -->
    </section>

    <section id="exercicios">
        <h2>Exercícios</h2>
        <p>Descubra rotinas de exercícios e atividades físicas para se manter ativo.</p>
        <!-- Inclua o conteúdo sobre exercícios aqui -->
    </section>

    <section id="receitas">
        <h2>Receitas Saudáveis</h2>
        <p>Experimente nossas deliciosas receitas saudáveis para manter uma alimentação equilibrada.</p>
        <!-- Inclua o conteúdo sobre receitas saudáveis aqui -->
    </section>

    <footer>
        <p>&copy; 2023 Sua Página de Saúde e Bem-Estar</p>
    </footer>
</body>
</html>

